.dashboardNavButton{
    -fx-background-radius : 0 35 35 0;
    -fx-border-radius : 0 35 35 0;
    -fx-min-width: 192;
    -fx-min-height: 59;
    -fx-effect: dropshadow(gaussian, #c4c4c4,25,0,0,0);
    -fx-font-size: 17;
    -fx-font-weight: bold;
    -fx-text-fill: #044E9A;
}

.editButton{
    -fx-background-color:  #B0E5E3;
    -fx-background-radius: 15;
    -fx-font-size: 12;
    -fx-font-weight: bold;
    -fx-text-fill: #044e9a;
}
.hamburgerButton{
    -fx-background-radius : 15;
    -fx-border-radius : 15 px;
    -fx-min-width: 24;
    -fx-min-height: 56;
    -fx-effect: dropshadow(gaussian, #c4c4c4,25,0,0,0);
    -fx-font-size: 18;
    -fx-text-fill: WHITE;
}